In [613]:
#pip install pylev

In [614]:
# Importing required libraries

import re
from random import randint
from datetime import datetime

import numpy as np
import pandas as pd

import pylev

In [615]:
# Parameter for showing all columns when printing a dataframe
pd.set_option('display.max_columns', None)

In [616]:
# Loading data
homicides_df = pd.read_csv("./data/homicides.csv")

In [617]:
# Printing the dataset dimensions
homicides_df.shape

(12400, 23)

In [618]:
homicides_df.head(-5)

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,HORA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,2015,AÑO DE NACIMIENTO,CÉDULA,CORREO
0,01/01/2015 12:00:00 AM,ANTIOQUIA,AMAGÁ,Jueves,6:00,EL VOLCAN,RURAL,TIENDA,ARMA BLANCA,A PIE,A PIE,44.0,MASCULINO,CASADO,INDEPENDIENTE,NO REPORTADO,PRIMARIA,COLOMBIA,5030000.0,1,1971.0,42-908,agbnqg2122@unidatos.edu.co
1,01/01/2015 12:00:00 AM,ANTIOQUIA,BARBOSA,Jueves,9:00,VDA. MATASANOS,RURAL,VIAS PUBLICAS,ARMA BLANCA,A PIE,A PIE,30.0,MASCULINO,SOLTERO,DESEMPLEADO,NO REPORTADO,SECUNDARIA,NO REPORTADO,5079000.0,1,1985.0,15-183,rbkeui3584@gmail.com
2,01/01/2015 12:00:00 AM,ANTIOQUIA,EL BAGRE,Jueves,19:00,PUERTO CLAVER,RURAL,FINCAS Y SIMILARES,ARMA BLANCA,A PIE,A PIE,33.0,MASCULINO,UNION LIBRE,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5250000.0,1,1982.0,84-786,aorkhf9155@unidatos.edu.co
3,01/01/2015 12:00:00 AM,ANTIOQUIA,JARDÍN,Jueves,11:20,CRISTIANIA,RURAL,FINCAS Y SIMILARES,ARMA BLANCA,A PIE,A PIE,40.0,MASCULINO,CASADO,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5364000.0,1,1975.0,31-289,dhtemr6623@unidatos.edu.co
4,01/01/2015 12:00:00 AM,ANTIOQUIA,MEDELLÍN (CT),Juees,15:00,PICACHITO CNO REPORTADO6,URBANA,FRENTE A RESIDENCIAS - VIA PUBLICA,CONTUNDENTES,A PIE,A PIE,66.0,MASCULINO,UNION LIBRE,DESEMPLEADO,NO REPORTADO,PRIMARIA,COLOMBIA,5001000.0,1,1949.0,66-363,artatj9268@unidatos.edu.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12390,12/31/2015 12:00:00 AM,VALLE,CALI (CT),Jueves,0:45,EL RECUERDO E11,URBANA,FRENTE A RESIDENCIAS - VIA PUBLICA,ARMA DE FUEGO,A PIE,A PIE,37.0,MASCULINO,SOLTERO,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,COLOMBIA,76001000.0,1,1978.0,96-725,sckquk9384@gmail.com
12391,12/31/2015 12:00:00 AM,VALLE,CALI (CT),Jueves,0:05,TERRON COLORADO E1,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,23.0,MASCULINO,SOLTERO,ESTUDIANTE,NO REPORTADO,SECUNDARIA,COLOMBIA,76001000.0,1,1992.0,61-346,bbnsnk4611@unidatos.edu.co
12392,12/31/2015 12:00:00 AM,VALLE,CALI (CT),Jueves,11:30,BRISAS DE LOS ALAMOS E2,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,62.0,MASCULINO,CASADO,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,COLOMBIA,76001000.0,1,1953.0,91-774,correo295@unidatos.edu.co
12393,12/31/2015 12:00:00 AM,VALLE,CALI (CT),Jueces,23:30,LAS ORQUIDEAS E14,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,43.0,MASCULINO,UNION LIBRE,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,COLOMBIA,76001000.0,1,1972.0,36-531,cqlqhl7009@unidatos.edu.co
12394,12/31/2015 12:00:00 AM,VALLE,EL CERRITO,Jueves,15:42,LA ESPERANZA,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,53.0,FEMENINO,CASADO,EMPLEADO PARTICULAR,NO REPORTADO,PRIMARIA,COLOMBIA,76248000.0,1,1962.0,39-658,nggiso7664@gmail.com

In [619]:
# Printing column data types
homicides_df.dtypes

FECHA                 object
DEPARTAMENTO          object
MUNICIPIO             object
DIA                   object
HORA                  object
BARRIO                object
ZONA                  object
CLASE DE SITIO        object
ARMA O MEDIO          object
MOVIL VICTIMA         object
MOVIL AGRESOR         object
EDAD                 float64
GENERO                object
ESTADO CIVIL          object
CLASE EMPLEADO        object
PROFESION             object
ESCOLARIDAD           object
PAIS NACE             object
CODIGO DANE          float64
2015                   int64
AÑO DE NACIMIENTO    float64
CÉDULA                object
CORREO                object
dtype: object

In [620]:
# Deleting constant column
del homicides_df["2015"]

In [621]:
homicides_df.head()

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,HORA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
0,01/01/2015 12:00:00 AM,ANTIOQUIA,AMAGÁ,Jueves,6:00,EL VOLCAN,RURAL,TIENDA,ARMA BLANCA,A PIE,A PIE,44.0,MASCULINO,CASADO,INDEPENDIENTE,NO REPORTADO,PRIMARIA,COLOMBIA,5030000.0,1971.0,42-908,agbnqg2122@unidatos.edu.co
1,01/01/2015 12:00:00 AM,ANTIOQUIA,BARBOSA,Jueves,9:00,VDA. MATASANOS,RURAL,VIAS PUBLICAS,ARMA BLANCA,A PIE,A PIE,30.0,MASCULINO,SOLTERO,DESEMPLEADO,NO REPORTADO,SECUNDARIA,NO REPORTADO,5079000.0,1985.0,15-183,rbkeui3584@gmail.com
2,01/01/2015 12:00:00 AM,ANTIOQUIA,EL BAGRE,Jueves,19:00,PUERTO CLAVER,RURAL,FINCAS Y SIMILARES,ARMA BLANCA,A PIE,A PIE,33.0,MASCULINO,UNION LIBRE,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5250000.0,1982.0,84-786,aorkhf9155@unidatos.edu.co
3,01/01/2015 12:00:00 AM,ANTIOQUIA,JARDÍN,Jueves,11:20,CRISTIANIA,RURAL,FINCAS Y SIMILARES,ARMA BLANCA,A PIE,A PIE,40.0,MASCULINO,CASADO,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5364000.0,1975.0,31-289,dhtemr6623@unidatos.edu.co
4,01/01/2015 12:00:00 AM,ANTIOQUIA,MEDELLÍN (CT),Juees,15:00,PICACHITO CNO REPORTADO6,URBANA,FRENTE A RESIDENCIAS - VIA PUBLICA,CONTUNDENTES,A PIE,A PIE,66.0,MASCULINO,UNION LIBRE,DESEMPLEADO,NO REPORTADO,PRIMARIA,COLOMBIA,5001000.0,1949.0,66-363,artatj9268@unidatos.edu.co

In [622]:
# Creating a lambda expression for datetime parsing
dateparse = lambda x: datetime.strptime(x, "%m/%d/%Y %H:%M:%S %p")

In [623]:
# Applying the validation to all values in column
#homicides_df["FECHA"].apply(dateparse)

# IT IS EXPECTED TO HAVE AN ERROR INTENTIONALLY

In [624]:
# Creating a function for validating which value is causing the previous error
def error_in_format(x):
    try:
        datetime.strptime(x, "%m/%d/%Y %H:%M:%S %p")
        return False
    except:
        return True

In [625]:
# Using the function for validation
homicides_df.loc[homicides_df["FECHA"].apply(error_in_format)]

# THE LAST ERROR IS CAUSING THE ERROR

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,HORA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
12399,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [626]:
# Deleting an error by its index
homicides_df = homicides_df.drop([12399])

In [627]:
# Trying to parse the datetime string again
homicides_df["FECHA"] = homicides_df["FECHA"].apply(dateparse)

In [628]:
# Counting homicides hour
homicides_df["FECHA"].dt.hour.value_counts()

# All datetime hour parts are the same

12    12399
Name: FECHA, dtype: int64

In [629]:
# The homicide hour is available in a different column!!!
# Merging both columns
homicides_df["FECHA"] = homicides_df["FECHA"].astype(str).apply(lambda x: x[:11]) + homicides_df["HORA"]

In [630]:
del homicides_df["HORA"]

In [631]:
homicides_df["FECHA"].head()

0     2015-01-01 6:00
1     2015-01-01 9:00
2    2015-01-01 19:00
3    2015-01-01 11:20
4    2015-01-01 15:00
Name: FECHA, dtype: object

In [632]:
# Making a new expression for datetime parsing
dateparse = lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M")

In [633]:
# Applying the expression
homicides_df["FECHA"] = homicides_df["FECHA"].apply(dateparse)

In [634]:
homicides_df.dtypes

FECHA                datetime64[ns]
DEPARTAMENTO                 object
MUNICIPIO                    object
DIA                          object
BARRIO                       object
ZONA                         object
CLASE DE SITIO               object
ARMA O MEDIO                 object
MOVIL VICTIMA                object
MOVIL AGRESOR                object
EDAD                        float64
GENERO                       object
ESTADO CIVIL                 object
CLASE EMPLEADO               object
PROFESION                    object
ESCOLARIDAD                  object
PAIS NACE                    object
CODIGO DANE                 float64
AÑO DE NACIMIENTO           float64
CÉDULA                       object
CORREO                       object
dtype: object

In [635]:
homicides_df.head()

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
0,2015-01-01 06:00:00,ANTIOQUIA,AMAGÁ,Jueves,EL VOLCAN,RURAL,TIENDA,ARMA BLANCA,A PIE,A PIE,44.0,MASCULINO,CASADO,INDEPENDIENTE,NO REPORTADO,PRIMARIA,COLOMBIA,5030000.0,1971.0,42-908,agbnqg2122@unidatos.edu.co
1,2015-01-01 09:00:00,ANTIOQUIA,BARBOSA,Jueves,VDA. MATASANOS,RURAL,VIAS PUBLICAS,ARMA BLANCA,A PIE,A PIE,30.0,MASCULINO,SOLTERO,DESEMPLEADO,NO REPORTADO,SECUNDARIA,NO REPORTADO,5079000.0,1985.0,15-183,rbkeui3584@gmail.com
2,2015-01-01 19:00:00,ANTIOQUIA,EL BAGRE,Jueves,PUERTO CLAVER,RURAL,FINCAS Y SIMILARES,ARMA BLANCA,A PIE,A PIE,33.0,MASCULINO,UNION LIBRE,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5250000.0,1982.0,84-786,aorkhf9155@unidatos.edu.co
3,2015-01-01 11:20:00,ANTIOQUIA,JARDÍN,Jueves,CRISTIANIA,RURAL,FINCAS Y SIMILARES,ARMA BLANCA,A PIE,A PIE,40.0,MASCULINO,CASADO,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5364000.0,1975.0,31-289,dhtemr6623@unidatos.edu.co
4,2015-01-01 15:00:00,ANTIOQUIA,MEDELLÍN (CT),Juees,PICACHITO CNO REPORTADO6,URBANA,FRENTE A RESIDENCIAS - VIA PUBLICA,CONTUNDENTES,A PIE,A PIE,66.0,MASCULINO,UNION LIBRE,DESEMPLEADO,NO REPORTADO,PRIMARIA,COLOMBIA,5001000.0,1949.0,66-363,artatj9268@unidatos.edu.co

In [636]:
# Creating a dictionary representing the valid departments for Colombia
departments_list = ['ANTIOQUIA', 'ATLÁNTICO', 'BOLÍVAR', 'BOYACÁ', 'CALDAS', 'CAQUETÁ',
       'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ', 'CÓRDOBA', 'META',
       'CUNDINAMARCA', 'HUILA', 'MAGDALENA', 'NARIÑO', 'PUTUMAYO',
       'RISARALDA', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'NORTE DE SANTANDER', 'GUAJIRA', 'QUINDÍO', 'SAN ANDRÉS Y PROVIDENCIA', 'ARAUCA',
       'GUAINÍA', 'VICHADA', 'VAUPÉS', 'GUAVIARE', 'AMAZONAS']

In [637]:
# Finding values not matching with the dictionary
homicides_df.loc[~homicides_df["DEPARTAMENTO"].isin(departments_list), "DEPARTAMENTO"].unique()

array(['SAN ANDRÉS', 'N. DE SANTANDER'], dtype=object)

**<h1>First task:
 Replace the name of the departments that are not found in the dictionary</h1>**

In [638]:
# Replacing unfound values in department column
homicides_df["DEPARTAMENTO"] = homicides_df["DEPARTAMENTO"].replace(["SAN ANDRÉS","N. DE SANTANDER"],["SAN ANDRÉS Y PROVIDENCIA","NORTE DE SANTANDER"])

In [639]:
# Reviewing if the values were remplaced sucessfully
homicides_df[homicides_df["DEPARTAMENTO"]=="SAN ANDRÉS Y PROVIDENCIA"].head(2)

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
212,2015-01-04 19:48:00,SAN ANDRÉS Y PROVIDENCIA,SAN ANDRÉS (CT),Domingo,FLOWER HILL,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,CONDUCTOR MOTOCICLETA,PASAJERO MOTOCICLETA,52.0,MASCULINO,UNION LIBRE,AFRODESCENDIENTE,NO REPORTADO,SECUNDARIA,COLOMBIA,88001000.0,1963.0,35-133,correo9894@colombia.gov.co
1714,2015-02-21 22:39:00,SAN ANDRÉS Y PROVIDENCIA,SAN ANDRÉS (CT),Sábado,LOMA COVE,RURAL,VIAS PUBLICAS,ARMA DE FUEGO,CONDUCTOR MOTOCICLETA,PASAJERO MOTOCICLETA,42.0,MASCULINO,SOLTERO,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,COLOMBIA,88001000.0,1973.0,87-308,ldeggo3300@unidatos.edu.co

In [640]:
# Reviewing if not exist values out of dictionary
homicides_df.loc[~homicides_df["DEPARTAMENTO"].isin(departments_list), "DEPARTAMENTO"].unique()

array([], dtype=object)

In [641]:
# Detecting duplicates by "CÉDULA" column
duplicates_by_cedula = homicides_df.loc[homicides_df["CÉDULA"].duplicated(keep = False)]

In [642]:
duplicates_by_cedula.shape

(1627, 21)

In [643]:
# Showing some examples
duplicates_by_cedula.sort_values("CÉDULA", ascending = True).head(6)

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
4041,2015-05-03 23:30:00,CAUCA,EL TAMBO,Domingo,LA VICTORIA,RURAL,"BARES, CANTINAS Y SIMILARES",ARMA DE FUEGO,A PIE,A PIE,45.0,MASCULINO,UNION LIBRE,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,19256000.0,1970.0,10-048,aitufn1227@gmail.com
3810,2015-04-26 03:00:00,ANTIOQUIA,SAN JERÓNIMO,Domingo,LA PLAYA,URBANA,"HOTELES, RESIDENCIAS, Y SIMILARES.",CUERDA/SOGA/CADENA,A PIE,A PIE,25.0,MASCULINO,SOLTERO,INDEPENDIENTE,NO REPORTADO,SECUNDARIA,COLOMBIA,5656000.0,1990.0,10-048,ibbcpu2509@unidatos.edu.co
693,2015-01-19 05:30:00,ANTIOQUIA,SALGAR,Lunes,LA HABANA,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,58.0,MASCULINO,SOLTERO,AGRICULTOR,NO REPORTADO,PRIMARIA,COLOMBIA,5642000.0,57.0,10-079,unhoqj1172@unidatos.edu.co
10796,2015-11-20 03:00:00,VALLE,CALI (CT),Viernes,POTRERO GRANDE E21,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,21.0,MASCULINO,SOLTERO,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,COLOMBIA,76001000.0,1994.0,10-079,iknnoj8430@unidatos.edu.co
2386,2015-03-14 02:00:00,META,FUENTE DE ORO,Sábado,VEREDA PUERTO NUEVO,RURAL,"BARES, CANTINAS Y SIMILARES",ARMA BLANCA,A PIE,A PIE,42.0,MASCULINO,SOLTERO,INDEPENDIENTE,NO REPORTADO,PRIMARIA,COLOMBIA,50287000.0,1973.0,10-255,afompq7113@unidatos.edu.co
138,2015-01-02 06:20:00,CAUCA,SOTARA,Viernes,CENTRO,RURAL,VIAS PUBLICAS,ARMA BLANCA,A PIE,A PIE,22.0,MASCULINO,SOLTERO,EMPLEADO EJERCITO,NO REPORTADO,SECUNDARIA,COLOMBIA,19760000.0,1993.0,10-255,cobgqs8819@unidatos.edu.co

**<h1>Second task:
 Delete duplicate ids records in a main df</h1>**

In [644]:
# Using drop duplicates function to delete duplicates rows by id(cédula) column 
homicides_df = homicides_df.drop_duplicates(subset=["CÉDULA"])

In [645]:
# Reviewimg the new size of df
homicides_df.shape

(11563, 21)

In [646]:
# Using regular expressions for validating if "CÉDULA" values match the pattern XX-XXX
cedula_malformed = homicides_df.loc[homicides_df["CÉDULA"].astype(str).apply(lambda x: (re.match("\d{2}-\d{3}", x) is None))]

In [647]:
cedula_malformed.shape

(28, 21)

In [648]:
cedula_malformed.head(2)

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
172,2015-01-03 11:00:00,META,MESETAS,Sábado,VEREDA EL CAFRE,RURAL,ZONA SELVÁTICA,MINA ANTIPERSONA,A PIE,A PIE,24.0,MASCULINO,SOLTERO,EMPLEADO EJERCITO,NO REPORTADO,SECUNDARIA,COLOMBIA,50330000.0,1991.0,680-21,oohghd8899@gmail.com
1114,2015-02-01 12:30:00,ATLÁNTICO,BARRANQUILLA (CT),Domingo,LA LUZ,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,29.0,MASCULINO,SOLTERO,INDEPENDIENTE,NO REPORTADO,PRIMARIA,COLOMBIA,8001000.0,1986.0,140-17,correo5853@colombia.gov.co

**<h1>Third task:
 Replace pattern in malformed ids (Cédula)</h1>**

In [649]:
# Compiling the correct pattern for id
pattern = re.compile(r"\d{2}-\d{3}")
def replace_pattern(x):
  # Reviewing if the pattern of value match with wanted pattern
  match =  pattern.match(x)
  # If the pattern match return the same value
  if match:
    return x
  else:
    # If the pattern doesn't match replace - if exists
    x = x.replace("-","")
    # Select first two chars add - and finally add the rest of string 
    x = x[:2] + "-" + x[2:]
    return x

In [650]:
def replace_pattern_2(x):
  # Reviewing if the pattern of value matches with wanted pattern
  match =  pattern.match(x)
  # If the pattern matches return the same value
  if match:
    return x
  else:
    # If the pattern doesn't match split string by -
    x = x.split("-")
    aux = ""
    # Order array in reverse 
    for i in reversed(x):
      aux = aux + i + "-"
    return aux[:-1]

In [651]:
# Applying a method for replace mal formed ids in the column "Cedula"
homicides_df["CÉDULA"]= homicides_df["CÉDULA"].apply(replace_pattern_2)

In [652]:
# Using regular expressions for validating if "CÉDULA" values match the pattern XX-XXX
cedula_malformed = homicides_df.loc[homicides_df["CÉDULA"].astype(str).apply(lambda x: (re.match("\d{2}-\d{3}", x) is None))]

In [653]:
# Reviewing if the df doesn't have a malformed ids
cedula_malformed.shape

(0, 21)

**<h1>Fourth task:
 Remove invalid email addresses</h1>**

In [654]:
# Verifying if the email has a valid pattern
def valid_email_pattern(x):
  # Split str by @
  x =  x.split("@")
  # if the email before @ has at least 4 chars it could be a valid email
  if(len(x[0])>3):
    # if the domain of email has .com or .edu.co is a valid email
    if(x[1].find(".com")!=-1 or x[1].find(".edu.co")!=-1):
      return True
  return False

In [655]:
# Collecting malformed emails
email_malformed = homicides_df.loc[homicides_df["CORREO"].astype(str).apply(lambda x: (valid_email_pattern(x) == False))]

In [656]:
email_malformed.head(2)

,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,BARRIO,ZONA,CLASE DE SITIO,ARMA O MEDIO,MOVIL VICTIMA,MOVIL AGRESOR,EDAD,GENERO,ESTADO CIVIL,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,PAIS NACE,CODIGO DANE,AÑO DE NACIMIENTO,CÉDULA,CORREO
36,2015-01-01 08:00:00,CAUCA,PATÍA,Jueves,C/MIENTO PIEDRASENTADA,RURAL,CARRETERA,ARMA DE FUEGO,VEHICULO,A PIE,26.0,MASCULINO,SOLTERO,EMPLEADO EJERCITO,NO REPORTADO,SECUNDARIA,COLOMBIA,19532000.0,1989.0,69-084,correo4714@colombia.gov.co
47,2015-01-01 09:00:00,CHOCÓ,TADÓ,Jueves,POPULAR,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,A PIE,34.0,MASCULINO,CASADO,EMPLEADO POLICIAL,POLICIA,TECNICO,COLOMBIA,27787000.0,1981.0,29-957,correo8297@colombia.gov.co

In [657]:
email_malformed.shape

(943, 21)

In [658]:
# Checking if a row from df is in malformed df
cond = homicides_df['CORREO'].isin(email_malformed['CORREO'])
# Removing from df, rows with malformed emails
homicides_df.drop(homicides_df[cond].index, inplace = True)

In [659]:
homicides_df.shape

(10620, 21)

In [660]:
email_malformed = homicides_df.loc[homicides_df["CORREO"].astype(str).apply(lambda x: (valid_email_pattern(x) == False))]

In [661]:
# Checking if the main df doesn't have rows with malformed emails
email_malformed.shape

(0, 21)

In [662]:
# Showing different values for "DIA" column
homicides_df["DIA"].unique()

array(['Jueves', 'Juees', 'Jueces', 'juves', 'Juevrs', 'Viernes',
       'Viermes', 'iernes', 'virnes', 'Vierens', 'Sábado', 'Sabadi',
       'Sabado', 'sábad', 'Sávado', 'Ssbado', 'Domingo', 'Domungo',
       'Doningo', 'domungo', 'Lunes', 'lune', 'Luns', 'Lumes', 'kunes',
       'Lnues', 'Martes', 'Marte', 'mates', 'Mates', 'Miércoles',
       'Miwrcoles', 'Mircoles', 'Voernes', 'domnigo', 'Maryes',
       'Miercoles', 'miércles', 'Dominog', 'Msrtes', 'Mirrcoles'],
      dtype=object)

In [663]:
# Calculating the distance between two words using the Levenshtein method
pylev.levenshtein('sábado', 'sabaod')

3

In [664]:
pylev.levenshtein('sábado', 'viernes')

7

**<h1>Fifth task:
 Replace malformed days values with the most possible day</h1>**

In [665]:
# Array with a valid days
valid_days = ["Lunes","Martes","Miercoles","Jueves", "Viernes","Sabado","Domingo"]

In [666]:
# Checking what is the possible day for an entered value
def correct_days(x):
  aux = -1
  response = x
  if x not in valid_days:
    for j in valid_days:
      distance = pylev.levenshtein(x, j)
      if(distance < aux or aux == -1):
        aux = distance
        response = j
  return response

In [667]:
# Test
correct_days("mercoles")

'Miercoles'

In [668]:
# Correcting days in df
homicides_df["DIA"]= homicides_df["DIA"].apply(correct_days)

In [669]:
homicides_df["DIA"].unique()

array(['Jueves', 'Lunes', 'Viernes', 'Sabado', 'Domingo', 'Martes',
       'Miercoles'], dtype=object)

In [670]:
homicides_df[["AÑO DE NACIMIENTO", "EDAD"]].head(10)

   AÑO DE NACIMIENTO  EDAD
0             1971.0  44.0
1             1985.0  30.0
2             1982.0  33.0
3             1975.0  40.0
4             1949.0  66.0
5             1973.0  42.0
6             1990.0  25.0
7             1978.0  37.0
8             1990.0  25.0
9             1985.0  30.0

**<h1>Sixth task:
 Correct Born year, by year of record and age</h1>**

In [671]:
# Function for calculate born year, by an input data
def correctBornYear(aux):
  # Convert date in str, split by - and finally select the first position (year)
  yearOfRecord = str(aux["FECHA"]).split("-")[0]
  # Get value of column EDAD
  age = aux["EDAD"]
  # Calculate born year by the mathematics operation year of record less age
  bornYear = int(yearOfRecord) - age
  return bornYear

In [672]:
# Correct the values in column AÑO DE NACIMIENTO
homicides_df["AÑO DE NACIMIENTO"] = homicides_df.apply(lambda x: correctBornYear(x),axis=1)

In [673]:
homicides_df[["AÑO DE NACIMIENTO", "EDAD"]].head(10)

   AÑO DE NACIMIENTO  EDAD
0             1971.0  44.0
1             1985.0  30.0
2             1982.0  33.0
3             1975.0  40.0
4             1949.0  66.0
5             1973.0  42.0
6             1990.0  25.0
7             1978.0  37.0
8             1990.0  25.0
9             1985.0  30.0